@using ERP.MODEL
@using PagedList
@using PagedList.Mvc
@model TrimsAccessoriesOrderModel


@{
    ViewBag.Title = "Trims Accessories Order Pending";
    //var TrimsData = ViewBag.TrimsList;
    var TrimsData = (List<TrimsAccessoriesOrderModel>)ViewBag.TrimsList;
    var TrimsDataForEdit = (List<TrimsAccessoriesOrderModel>)ViewBag.TrimsListForEdit;
    //  IPagedList<TrimsAccessoriesOrderModel> StyleList = ViewBag.StyleList;

    string vMessage = "";
    if (TempData.ContainsKey("OperationMessage"))
    {
        vMessage = TempData["OperationMessage"].ToString();
    }



}


@if (TrimsData != null)
{
    <div class="col-md-12">
        <div class="panel panel-card margin-b-30">
            <div class="panel-heading panel-heading-custom">
                <h4 class="panel-title">TRIMS ACCESSORIES ORDER AUTHORIZE - RECORD</h4>
            </div>

            <div class="panel-body">
                @using (Html.BeginForm("AuthorizeTrimsAccPending", "TrimsAccessoriesConfirmation", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                {
                    <table class="table table-bordered table-custom">
                        <tr>
                            <td style="width: 142%;">@Html.TextBoxFor(m => m.SearchBy, new { @id = "SearchBy", @class = "form-control search-by", @placeholder = "Enter the search item & then press enter" })</td>
                            <td><button class="btn btn-md btn-success btn-save addTrimGridBtn" type="button" disabled="disabled" id="approveBtn">Save</button></td>
                        </tr>
                    </table>
                   
                }
                <div class="table-responsive">
                    <table class="table table-bordered table-custom">
                        <thead>
                        <tr>
                            <th><input type="checkbox" class="allTrimGridCheck"></th>
                            @*<th>SL</th>*@
                            <th>Order Date</th>
                            <th>Style No</th>

                            <th>Item</th>
                            <th>Item Code</th>
                            <th>Store</th>

                            <th>Supplier</th>
                            <th>Order Quantity</th>
                            <th>Unit</th>

                            <th>Unit Price</th>
                            <th>Delivery Date</th>
                            <th>Remarks</th>
                            <th>Supplier Date</th>
                            <th>Revised Date</th>
                            <th>In House Date</th>

                        </tr>
                        </thead>

                        
                        <tbody class="TrimGridContent" id="trimBody">
                        @*@foreach (TrimsAccessoriesOrderModel trimsData in TrimsData)*@
                          @for (int i = 0; i < TrimsData.Count; i++)
                          {
                                <tr class="TrimGridFields">

                                    @if (TrimsData[i].Pending_YN.Contains('N'))
                                    {
                                        <td>
                                            <input type="checkbox" class="singleTrimGridCheck" value="@TrimsData[i].GridTranId">
                                        </td>
                                        @*<td>@TrimsData[i].SerialNumber</td>*@
                                        <td>@TrimsData[i].GridOrderDate</td>
                                        <td>@TrimsData[i].GridSyleNo</td>
                                        <td>@TrimsData[i].GridItemName</td>
                                        <td>@TrimsData[i].GridItemCode</td>
                                        <td>@TrimsData[i].GridStoreName</td>
                                        <td>@TrimsData[i].GridSupplierName</td>
                                        <td>@TrimsData[i].GridOrderQty</td>
                                        <td>@TrimsData[i].GridUnitName</td>
                                        <td>@TrimsData[i].GridUnitPrice</td>
                                        <td>@TrimsData[i].GridDeliveryDate</td>
                                        <td>@TrimsData[i].GridRemarks</td>

                                        if (TrimsData[i].SupplierDate != "")
                                        {
                                            <td>
                                                @Html.TextBoxFor(m => m.TrimsData[i].SupplierDate, new {@class = "form-control datepicker supplier_date", @placeholder = "Supplier Date", @Value = TrimsData[i].SupplierDate })

                                            </td>
                                           
                                        }
                                        else
                                        {
                                        <td>
                                            @Html.TextBoxFor(m => m.TrimsData[i].SupplierDate, new { @class = "form-control datepicker supplier_date", @placeholder = "Supplier Date" })
                                        </td>
                                        }


                                        if (TrimsData[i].RevisedDate != "")
                                        {
                                            <td>
                                                @Html.TextBoxFor(m => m.TrimsData[i].RevisedDate, new { @class = "form-control datepicker revised_date", @placeholder = "Supplier Date", @Value = TrimsData[i].RevisedDate })
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.TextBoxFor(m => m.TrimsData[i].RevisedDate, new { @class = "form-control datepicker revised_date", @placeholder = "Revised Date" })
                                            </td>
                                        }

                                        <td>
                                            @Html.TextBoxFor(m => m.TrimsData[i].InHouseDate, new {@class = "form-control datepicker in_house_date", @placeholder = "In House Date"})
                                        </td>
                                    }
                                    @*<td>
                                        approach for foreach without adding list to the model
                                        @Html.TextBoxFor(m => m.SupplierDate, new {@class = "form-control datepicker", @placeholder = "Supplier Date", @id = trimsData.GridTranId })                                     
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.RevisedDate, new {@class = "form-control datepicker", @placeholder = "Revised Date", @id = trimsData.GridTranId })                                     
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.InHouseDate, new {@class = "form-control datepicker", @placeholder = "In House Date", @id = trimsData.GridTranId })                                  
                                    </td>*@
                                </tr>                           
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function() {


            $(document).on('click', '.allTrimGridCheck, .singleTrimGridCheck', function (event) {
                if ($(event.target).is(':checked')) {
                    $('.addTrimGridBtn').prop('disabled', false);
                }
                if ($('.singleTrimGridCheck').length === $('.singleTrimGridCheck:checkbox:not(":checked")').length) {
                    $('.addTrimGridBtn').prop('disabled', true);
                }
            });


        });

        $(document).on('click', '.addTrimGridBtn', function () {
         
            var trimsPending = [];
            //var tranId = ($('.TrimGridContent input:checkbox:checked').map(function() { return this.value; }).get().join(','));

            $('.singleTrimGridCheck').each(function(index, value) {
                var trandId = $(this).val();
                var supplierDate = $(this).parents('.TrimGridFields').find('.supplier_date').val();
                var revisedDate = $(this).parents('.TrimGridFields').find('.revised_date').val();
                var inHouseDate = $(this).parents('.TrimGridFields').find('.in_house_date').val();

                if ($(this).is(":checked")) {
                    trimsPending.push({
                        GridTranId: trandId,
                        SupplierDate: supplierDate,
                        RevisedDate: revisedDate,
                        InHouseDate: inHouseDate
                    });
                }
            });


            var pendingTrimsAcc = JSON.stringify(trimsPending);


            //approve
            $.ajax({
                type: "post",
                dataType: 'json',
                url: "/TrimsAccessoriesConfirmation/AuthorizeTrimsAcc",
                data: {
                    trimsPending: pendingTrimsAcc
                },
                success: function(data) {
                    console.log(data);
                   
                   
                    alert(data);
                    window.location.href = '@Url.Action("AuthorizeTrimsAccPending", "TrimsAccessoriesConfirmation")';
                }
            });

            

        });



        $(document).on('click', '.allTrimGridCheck', function () {
         
            if (this.checked) {
                $('.TrimGridContent input:checkbox').prop('checked', true);             
            } else {
                $('.TrimGridContent input:checkbox').prop('checked', false);
            }
        });
        $(document).on('click', '.singleTrimGridCheck', function () {
            
            if ($('.singleTrimGridCheck:checked').length === $('.singleTrimGridCheck').length) {
               
                $('.allTrimGridCheck:checkbox').prop('checked', true);

               
            } else {
                $('.allTrimGridCheck:checkbox').prop('checked', false);
            }

        });


    </script>
}
