@using ERP.MODEL
@model PassworChange
 

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string vMessage = "";
    if (TempData.ContainsKey("OperationMessage"))
    {
        //vMessage = TempData["OperationMessage"].ToString();
        <script type="text/javascript">
            window.onload = function () {

                alert('@TempData["OperationMessage"]');
            };
        </script>
    }

}

<div class="col-md-8 col-md-offset-2">

    <div class="panel panel-card margin-b-30">
        <div class="panel-heading panel-heading-custom">
            <h4 class="panel-title">CHAGE PASSWORD</h4>
        </div>

        @if (ViewBag.Message != null)
            {

            <div class="row alert alert-success alert-dismissable alert-custom">
                <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                <span>@ViewBag.Message</span>
            </div>

        }
        <div class="panel-body backcolor">
            @using (Html.BeginForm("PasswordChange", "Login", FormMethod.Post, new { @class = "form-horizontal custom-form", role = "form" }))
            {
                @Html.AntiForgeryToken()



                <div class="input-group input-group-custom">
                    <span class="input-group-addon" id="employee-password-addon"><i class="fa fa-key"></i></span>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Enter new password" })
                </div>


                    <div style="position: relative; top: -10px;">
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group input-group-custom">
                        <span class="input-group-addon" id="employee-password-addon"><i class="fa fa-key"></i></span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter password again" })
                    </div>


                    <div style="position: relative; top: -10px;">
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>





                    <div class="input-group login-btn-div" style="margin-bottom:15px;">
                        <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-sign-in"></i>Submit</button>
                    </div>




            }

        </div>
    </div>

</div>
 

