@using ERP.MODEL
@model ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";

    string vMessage = "";
    if (TempData.ContainsKey("OperationMessage"))
    {
        //vMessage = TempData["OperationMessage"].ToString();
        <script type="text/javascript">
            window.onload = function () {

                alert('@TempData["OperationMessage"]');
            };
        </script>

    }
}

<div class="col-md-4 col-md-offset-4 signup-form">
    <div class="panel panel-card1 margin-b-30 shadow">
        <div class="panel-heading panel-heading-login">
                <span class="text-left">Forgot Password</span>
                <span class="text-right" style="font-size: 85%;">
                    <a href="@Url.Action("Login","Login")">Sign In</a>
                </span>
            </div>


        @*<div class="panel-heading">
            <div class="panel-title">Forgot Password</div>
            <div style="float:right; font-size: 85%; position: relative; top:-25px"><a href="@Url.Action("Login","Login")" style="color:white;">Sign In</a></div>
        </div>*@


        @if (!string.IsNullOrWhiteSpace(vMessage))
        {
            <div class="row alert alert-success alert-dismissable alert-custom">
                <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                <span class="success-msg" style="left: 0px !important">@vMessage</span>
            </div>
        }

        <div class="panel-body backcolor">
            @using (Html.BeginForm("ForgetPasswordRequest", "Login", FormMethod.Post, new { @class = "form-horizontal custom-form", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="input-group input-group-custom">
                    <span class="input-group-addon" id="employee-id-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.EmployeeId, new { @class = "form-control", @placeholder = "Enter employee ID" })
                </div>

                <div style="position: relative; top: -10px;">
                    @Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-danger" })
                </div>


                <div class="input-group input-group-custom">
                    <span class="input-group-addon" id="employee-password-addon"><i class="fa fa-mobile"></i></span>
                    @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @placeholder = "Enter your mobile or phone" })
                </div>

                <div style="position: relative; top: -10px;">
                    @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                </div>


                <div class="input-group input-group-custom">
                    <span class="input-group-addon" id="employee-password-addon"><i class="fa fa-envelope"></i></span>
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Enter your email address" })
                </div>


                <div style="position: relative; top: -10px;">
                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                </div>



                <div class="input-group login-btn-div">
                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-save"></i> Submit</button>
                </div>

                <br />
                <div class="input-group">
                    <h4 class="mobile-text">Don't have an account ! <a href="@Url.Action("Signup", "Login")">Sign Up Here</a> </h4>
                </div>
            }

        </div>
    </div>

</div>

