@model ERP.MODEL.CostingModel
@using ERP.MODEL
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Costing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CostingEntryData = (List<CostingModel>)ViewBag.CostingEntryList;
   
    var BOMDataList = (List<CostingModel>)ViewBag.CostEntryList;
    var StyleListFlag = ViewBag.StyleListFlag;
    string vMessage = "";
    if (TempData.ContainsKey("OperationMessage"))
    {
        vMessage = TempData["OperationMessage"].ToString();
    }
}

<div class="col-md-12">
    <div class="panel panel-card margin-b-30">
        <div class="panel-heading panel-heading-custom">
            <h4 class="panel-title">STYLE SEARCH</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("CostingEntry", "Costing", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <div class="col-lg-12">
                        @Html.TextBoxFor(m => m.StyleSearch, new { @class = "form-control", @autofocus = true, @placeholder = "Enter style no and select one and then press enter" })
                        <button type="submit" class="SearchButton hidden"></button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-card margin-b-30">
        <div class="panel-heading panel-heading-custom">
            <h4 class="panel-title">COSTING ENTRY</h4>
        </div>
        @if (!string.IsNullOrWhiteSpace(vMessage))
        {

            <div class="row alert alert-success alert-dismissable alert-custom">
                <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                <span class="success-msg">@vMessage</span>
            </div>
        }

        <div class="row alert alert-danger alert-dismissable alert-custom" style="display: none;">
            <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
            <span class="success-msg"></span>
        </div>

        <div class="panel-body">


            @using (Html.BeginForm("SaveCostingEntry", "Costing", FormMethod.Post, new { @class = "form-horizontal save-costing-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.RowNumber)
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.StyleNo, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.TextBoxFor(m => m.StyleNo, new { @class = "form-control", @autofocus = true, @placeholder = "Enter style no" })
                            @Html.ValidationMessageFor(m => m.StyleNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-1">
                            <span class="required">*</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.BuyerName, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.DropDownListFor(m => m.BuyerId, ViewBag.BuyerDDList as SelectList, new { @class = "form-control custom-select-box" })
                            @Html.ValidationMessageFor(m => m.BuyerId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-1">
                            <span class="required">*</span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FactoryId, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.DropDownListFor(m => m.FactoryId, ViewBag.BranchOfficeDDList as SelectList, new { @class = "form-control custom-select-box" })
                            @Html.ValidationMessageFor(m => m.FactoryId, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.MpcCode, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.TextBoxFor(m => m.MpcCode, new { @class = "form-control", @autofocus = true, @placeholder = "Enter MPC Code" })
                            @Html.ValidationMessageFor(m => m.MpcCode, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ExchangeRate, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.TextBoxFor(m => m.ExchangeRate, new { @class = "form-control", @autofocus = true, @placeholder = "Enter Exchange Rate" })
                            @Html.ValidationMessageFor(m => m.ExchangeRate, "", new { @class = "text-danger" })
                        </div>

                    </div>

                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.LabelFor(m => m.SeasonName, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.DropDownListFor(m => m.SeasonId, ViewBag.SeasonDDList as SelectList, new { @class = "form-control custom-select-box" })
                            @Html.ValidationMessageFor(m => m.SeasonId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-1">
                            <span class="required">*</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.SeasonYear, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.TextBoxFor(m => m.SeasonYear, new { @class = "form-control", @autofocus = true, @placeholder = "Enter season year ", @Value = ViewBag.CurrentYear })
                            @Html.ValidationMessageFor(m => m.SeasonYear, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-1">
                            <span class="required">*</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ProductName, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @autofocus = true, @placeholder = "Enter Product Name" })
                            @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                        </div>

                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.CotationDate, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.TextBoxFor(m => m.CotationDate, new { @class = "form-control datepicker", @autofocus = true, @placeholder = "Enter last update date " })
                            @Html.ValidationMessageFor(m => m.CotationDate, "", new { @class = "text-danger" })
                        </div>

                    </div>



                    <div class="form-group">
                        @Html.LabelFor(m => m.CurrencyId, new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.DropDownListFor(m => m.CurrencyId, ViewBag.CurrencyDDList as SelectList, new { @class = "form-control custom-select-box" })
                            @Html.ValidationMessageFor(m => m.CurrencyId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h4 class="panel-title">BILL OF MATERIAL DETAIL ENTRY</h4>
                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-custom">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="allBomGridCheck">
                                                </th>
                                                <th width="13%">ITEM</th>
                                                <th>ITEM TYPE</th>
                                                <th>ITEM DETAILS</th>
                                                <th>MODEL CODE</th>
                                                <th width="15%">SUPPLIER</th>
                                                <th>UNIT</th>
                                                <th width="14%">UNIT PRICE</th>
                                                <th>CONSUMP</th>
                                                <th>WASTAGE</th>
                                                <th>PRICE</th>
                                                <th>RATE</th>
                                                <th class="hidden"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="BomGridContent" id="bomBody">
                                            @if (BOMDataList != null)
                                            {
                                                foreach (var BOM in BOMDataList)
                                                {
                                                    <tr class="BomGridFields">
                                                        <td>
                                                            <input type="checkbox" class="singleBomGridCheck" value="@BOM.GridTranId">
                                                        </td>

                                                        <td>
                                                            @Html.TextBoxFor(m => m.Item, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Item",
                                                       @Value = BOM.GridItemName
                                                   })
                                                        </td>

                                                        @*<td>
                                                                @Html.DropDownListFor(m => m.Item, new SelectList(ViewBag.ItemDDList, "Value", "Text", @BOM.GridItemId), new { @class = "form-control custom-select-box" })
                                                            </td>*@
                                                        <td>
                                                            @Html.TextBoxFor(m => m.ItemType, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Item Name",
                                                       @Value = BOM.GridItemType
                                                   })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.ItemDescription, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Item Description",
                                                       @Value = BOM.GridItemDescription
                                                   })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.ModelCode, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Model Code",
                                                       @Value = BOM.GridModelCode
                                                   })
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(m => m.SupplierId, new SelectList(ViewBag.SupplierDDList, "Value", "Text", @BOM.GridSupplierId), new { @class = "form-control custom-select-box" })
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(m => m.UnitId, new SelectList(ViewBag.UnitDDList, "Value", "Text", BOM.GridUnitId), new { @class = "form-control custom-select-box" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.UnitPrice, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Unit Price",
                                                       @Value = BOM.GridUnitPrice
                                                   })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Consump, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Consump",
                                                       @Value = BOM.GridConsump
                                                   })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Wastage, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Consump",
                                                       @Value = BOM.GridWastage
                                                   })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Price, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Price",
                                                       @Value = BOM.GridPrice

                                                   })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Rate, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Rate",
                                                       @Value = BOM.GridRate
                                                   })
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.TextBoxFor(m => m.TranId, new
                                                   {
                                                       @class = "form-control",
                                                       @Value = BOM.GridTranId
                                                   })

                                                        </td>
                                                    </tr>

                                                }
                                            }
                                            else
                                            {
                                                <tr class="BomGridFields">
                                                    <td>
                                                        <input type="checkbox" class="singleBomGridCheck">
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(m => m.Item, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Item Description"

                                                   })
                                                    </td>
                                                    @*<td>
                                                            @Html.DropDownListFor(m => m.Item, new SelectList(ViewBag.ItemDDList, "Value", "Text"), new { @class = "form-control custom-select-box" })
                                                        </td>*@
                                                    <td>
                                                        @Html.TextBoxFor(m => m.ItemType, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Item Name"
                                                   })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.ItemDescription, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Item Description"
                                                   })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.ModelCode, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Model Code"
                                                   })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.SupplierId, new SelectList(ViewBag.SupplierDDList, "Value", "Text"), new { @class = "form-control custom-select-box" })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.UnitId, new SelectList(ViewBag.UnitDDList, "Value", "Text"), new { @class = "form-control custom-select-box" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.UnitPrice, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Unit Price"
                                                   })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.Consump, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Consump"
                                                   })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.Wastage, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Consump"
                                                   })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.Price, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Price"
                                                   })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.Rate, new
                                                   {
                                                       @class = "form-control",
                                                       @autofocus = true,
                                                       @placeholder = "Enter Rate"
                                                   })
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.TextBoxFor(m => m.TranId, new
                                                   {
                                                       @class = "form-control"
                                                   })

                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>

                                </div>
                                <div>
                                    <button class="btn btn-md btn-success btn-save addCostingGridBtn" type="button">
                                        <i class="fa fa-plus"></i> Add Row
                                    </button>
                                    <button class="btn btn-md btn-danger btn-save deleteCostingGridBtn" type="button" disabled="disabled">
                                        <i class="fa fa-minus"></i> Delete Row
                                    </button>
                                    <button class="btn btn-md btn-primary btn-save" type="submit">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                    <a href="@Url.Action("ClearBomEntry","Costing")" class="btn btn-md btn-warning btn-clear">
                                        <i class="fa fa-circle-o-notch"></i> Clear
                                    </a>
                                </div>
            }
        </div>
    </div>
</div>

@if (CostingEntryData != null)
{
    <div class="col-md-12">
        <div class="panel panel-card margin-b-30">
            <div class="panel-heading panel-heading-custom">
                <h4 class="panel-title">COSTING ENTRY - RECORD</h4>
            </div>

            <div class="panel-body">
                @using (Html.BeginForm("CostingEntry", "Costing", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.TextBoxFor(m => m.SearchBy, new { @id = "SearchBy", @class = "form-control search-by", @placeholder = "Enter style no or season year or buyer name & then press enter" })
                    <button type="submit" class="SearchButton2 hidden"></button>
                }
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-custom">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>STYLE</th>
                                <th>BUYER</th>
                                <th>SEASON</th>
                                <th>YEAR</th>
                                <th>FACTORY</th>
                                <th>PRODUCT</th>
                                <th>MPC</th>
                                <th>DATE</th>
                                <th>EXCH. RATE</th>
                                <th>CURRENCY</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Costing in CostingEntryData)
                            {
                                <tr>
                                    <td>@Costing.SerialNo</td>
                                    <td>@Costing.StyleNo</td>
                                    <td>@Costing.BuyerName</td>
                                    <td>@Costing.SeasonName</td>
                                    <td>@Costing.SeasonYear</td>
                                    <td>@Costing.FactoryName</td>
                                    <td>@Costing.ProductName</td>
                                    <td>@Costing.MpcCode</td>
                                    <td>@Costing.CotationDate</td>
                                    <td>@Costing.ExchangeRate</td>
                                    <td>@Costing.CurrencyName</td>

                                    <td>
                                        @using (Html.BeginForm("CostingEntry", "Costing", FormMethod.Get, new { @class = "form-horizontal pull-left", role = "form" }))
                                        {
                                            <input type="hidden" name="EditFlag" value="1" />
                                            <input type="hidden" name="styleNo" value="@Costing.StyleNo" />
                                            <input type="hidden" name="buyerId" value="@Costing.BuyerId" />
                                            <input type="hidden" name="seasonId" value="@Costing.SeasonId" />
                                            <input type="hidden" name="seasonYear" value="@Costing.SeasonYear" />
                                            //<input type="hidden" name="tranId" value="@Costing.TranId" />
                                            <button class="btn btn-md btn-success btn-edit" type="submit">
                                                <i class="fa fa-edit"></i> Edit
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
  
    <script>

        //add row
        $(document).on('click', '.addCostingGridBtn', function () {
            var markUp = $('.BomGridFields:eq( 0 )').clone();
            $('.BomGridContent').append(markUp).find(".BomGridFields:eq( -1 ) input[type='text'] ,.BomGridFields:eq( -1 ) select option:contains('Please select one')").val('').prop('selected', true);
            var rowNumber = $('#bomBody tr').length;
            $('#RowNumber').val(rowNumber);
        });
        //RowDelete
        $(document).on('click', '.deleteCostingGridBtn', function () {
            if (confirm('Are you sure to delete this record?') == true) {
                var tranId = ($('.BomGridContent input:checkbox:checked').map(function () { return this.value; }).get().join(','));
                var styleNo = $('#StyleNo').val();
                var buyerId = $("#BuyerId option:selected").val();
                var seasonId = $("#SeasonId option:selected").val();
                var seasonYear = $('#SeasonYear').val();
                $('.BomGridContent input:checkbox:checked').each(function () {
                    if ($('.allBomGridCheck').is(':checked')) {
                        // var oldValue = $(this).parents('.BomGridFields').find('.BomGridFields:eq( -1 ) input[type="text"]').val();
                        $(this).parents('.BomGridContent').find('.BomGridFields:gt( 0 )').remove();
                        $('input[type="checkbox"]').prop('checked', false);
                        $(this).parents('.BomGridContent').find(".BomGridFields:eq( -1 ) input[type='text'] ,.BomGridFields:eq( -1 ) select option:contains('Please select one')").val('').prop('selected', true);
                    } else {
                        // var oldValue = $(this).parents('.BomGridFields').find('.BomGridFields:eq( -1 ) input[type="text"]').val();
                        $(this).parents('.BomGridFields').remove();
                        $(this).parents('.BomGridContent').find('.BomGridFields:gt( 0 )').remove();
                    }

                });
                $.ajax({
                    url: '/Costing/DeleteCostingEntry',
                    type: 'POST',
                    data: {
                        'GridTranId': tranId,
                        'StyleNo': styleNo,
                        'BuyerId': buyerId,
                        'SeasonId': seasonId,
                        'SeasonYear': seasonYear
                    },
                    success: function (result) {
                        if (result === "ALL DELETED") {
                            window.location.href = '@Url.Action("CostingEntry", "Costing")';

                        }
                        $('.alert-danger ').show();
                        $('.success-msg').text(result);

                    }
                });
                return;

            }
        });
        //Row select or check
        $(document).on('click', '.allBomGridCheck', function () {
            if (this.checked) {
                $('.BomGridContent input:checkbox').prop('checked', true);

            }
            else {
                $('.BomGridContent input:checkbox').prop('checked', false);

            }
        });

        $(document).on('click', '.singleBomGridCheck', function () {
            if ($('.singleBomGridCheck:checked').length == $('.singleBomGridCheck').length) {
                $('.allBomGridCheck:checkbox').prop('checked', true);
            }
            else {
                $('.allBomGridCheck:checkbox').prop('checked', false);
            }

        });
        //Enable or Disable Delete Button
        $(document).on('click', '.allBomGridCheck, .singleBomGridCheck', function (event) {
            if ($(event.target).is(':checked')) {
                $('.deleteCostingGridBtn').prop('disabled', false);
            }
            if ($('.singleBomGridCheck').length == $('.singleBomGridCheck:checkbox:not(":checked")').length) {
                $('.deleteCostingGridBtn').prop('disabled', true);
            }
        });


        //AutoComplete
        $(document).ready(function () {
            var availableTags = [];
            var year = $("#SeasonYear").val();
            getStyle(year);
            $(document).on("keyup", "#SeasonYear", function () {
                year = $(this).val();
                if (!isNaN(year) && year.length === 4) {
                    getStyle(year);
                }
            });

            function getStyle(year) {
                if (!isNaN(year) && year.length == 4) {
                    $.ajax({
                        type: "get",
                        url: "/Costing/GetStyleNo?year=" + year,
                        success: function (res) {
                            if (availableTags.length >= 0) {
                                availableTags.length = 0;
                                // availableTags = [];
                            }
                            $.each(res, function (ind, val) {
                                availableTags.push(val.StyleSearch);
                            });
                        }
                    });
                }
            }

            $("#StyleSearch").autocomplete({
                source: availableTags,
                autoFocus: true
            });

            //byMouseClickSearch
            $(document).on('click', '#ui-id-1>li', function () {
                $(".SearchButton").click();
            });

        });


        //AutoComplete  2
        $(document).ready(function () {
            var availableTags = [];
            getCostingStyle();
            function getCostingStyle() {
                $.ajax({
                    type: "get",
                    url: "/Costing/GetCostingStyleNo",
                    success: function (res) {
                        if (availableTags.length >= 0) {
                            availableTags.length = 0;
                        }
                        $.each(res, function (ind, val) {
                            availableTags.push(val.StyleSearch);
                        });
                    }
                });
            }
            $("#SearchBy").autocomplete({
                source: availableTags,
                autoFocus: true
            });
            //byMouseClickSearch
            $(document).on('click', '#ui-id-2>li', function () {
                $(".SearchButton2").click();
            });

        });



    </script>
}

