@model ERP.MODEL.DistrictModel
@using PagedList
@using ERP.MODEL
@using PagedList.Mvc

@{
    ViewBag.Title = "District Record";
    IPagedList<DistrictModel> districtList = ViewBag.DistrictList;

    string vMessage = "";
    if (TempData.ContainsKey("OperationMessage"))
    {
        vMessage = TempData["OperationMessage"].ToString();
    }



}

<div class="col-md-12">
    <div class="panel panel-card margin-b-30">
        <div class="panel-heading panel-heading-custom">
            <h4 class="panel-title">ADD DISTRICT</h4>
        </div>
        @if (!string.IsNullOrWhiteSpace(vMessage))
        {

            <div class="row alert alert-success alert-dismissable alert-custom">
                <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                <span class="success-msg">@vMessage</span>
            </div>
        }

        <div class="panel-body">
            @using (Html.BeginForm("SaveDistrictInfo", "LookUp", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.DistrictId)
               
                <div class="form-group">
                    @Html.LabelFor(m => m.DivisionId, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-4">
                        @Html.DropDownListFor(m => m.DivisionId, ViewBag.DivisionDDList as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DivisionId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-1">
                        <span class="required">*</span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DistrictName, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.DistrictName, new { @class = "form-control", @autofocus = true, @placeholder = "Enter District Name" })
                        @Html.ValidationMessageFor(m => m.DistrictName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-1">
                        <span class="required">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-10">
                        <button class="btn btn-md btn-primary btn-save" type="submit">
                            <i class="fa fa-save"></i> Save
                        </button>

                        <a href="@Url.Action("ClearDistrict","LookUp")" class="btn btn-md btn-warning btn-clear">
                            <i class="fa fa-circle-o-notch"></i> Clear
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<div class="col-md-12">

    <div class="panel panel-card margin-b-30">
        <div class="panel-heading panel-heading-custom">
            <span class="panel-title">DISTRICT RECORDS</span>
            <a href="@Url.Action("ClearDistrict","LookUp")" class="btn btn-md btn-info btn-clear pull-right">
                <i class="fa fa-list"></i> Show All Records
            </a>
        </div>

        <div class="panel-body">

            @using (Html.BeginForm("GetDistrictRecord", "LookUp", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.TextBoxFor(m => m.SearchBy, new { @id = "SearchBy", @class = "form-control search-by", @placeholder = "Enter District name & then press enter" })
            }
          
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-custom">
                    <thead>
                    <tr>
                        <th>Serial</th>
                        <th>DIVISION NAME</th>
                        <th>DISTRICT NAME</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach (var dist in districtList)
                        {
                            <tr>
                                <td> @dist.SerialNumber </td>
                                <td> @dist.DivisionName </td>
                                <td> @dist.DistrictName </td>
                                <td style="width: 5%; text-align: center;">
                                    @using (Html.BeginForm("GetDistrictRecord", "LookUp",FormMethod.Get,  new { @class = "form-horizontal pull-left", role = "form" }))
                                    {
                                        @*@Html.AntiForgeryToken()*@
                                        <input type="hidden" name="pId" value="@dist.DistrictId" />
                                        <button class="btn btn-md btn-success btn-edit" type="submit">
                                            <i class="fa fa-edit"></i> Edit
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    }

                    </tbody>
                </table>

                <span class="page-info">
                    Page @(districtList.PageCount < districtList.PageNumber ? 0 : districtList.PageNumber) of @districtList.PageCount
                </span>
                <span class="showing-info">
                    Showing @districtList.FirstItemOnPage to @districtList.LastItemOnPage of @districtList.TotalItemCount Districts
                </span>
                @Html.PagedListPager(districtList, page => Url.Action("GetDistrictRecord", new { page, pageSize = districtList.PageSize, SearchBy = ViewBag.searchValue }))
            </div>
        </div>
    </div>
</div>



@section Scripts {
 
    <script>

        $(document).ready(function () {
            var btnName = localStorage.getItem("btnName");
            if (btnName) {
                $('.btn-save').html('<i class="fa fa-edit"></i> ' + btnName);
                localStorage.removeItem("btnName");
            }
            $(".btn-edit").click(function () {
                localStorage.setItem("btnName", "Update");
            });
        })

    </script>
}

