@model LeaveRequestModel
@using ERP.MODEL


@{
    ViewBag.Title = "Add Employee Leave";
    var GetAllLeaveRequestRecordList = (List<LeaveRequestModel>)ViewBag.GetAllLeaveRequestRecordList;
    var LoadEmployeeLeaveSummeryRecordList = (List<LeaveRequestModel>)ViewBag.LoadEmployeeLeaveSummeryRecordList;
    var TrimsDataForEdit = (List<LeaveRequestModel>)ViewBag.TrimsListForEdit;
    //var GetAllLeaveRequestEmployeeRecord = (LeaveRequestModel)ViewBag.GetAllLeaveRequestEmployeeRecord;



    string vMessage = "";
    if (TempData.ContainsKey("OperationMessage"))
    {
        //vMessage = TempData["OperationMessage"].ToString();
        <script type="text/javascript">
            window.onload = function () {

                alert('@TempData["OperationMessage"]');
            };
        </script>
    }
}




@if (Model != null)
{
    <div class="col-md-12">
        <div class="panel panel-card margin-b-30">
            <div class="panel-heading panel-heading-custom">
                <h3 class="panel-title">ADD EMPLOYEE LEAVE</h3>
            </div>

            @*@if (!string.IsNullOrWhiteSpace(vMessage))
                {
                    <div class="row alert alert-success alert-dismissable alert-custom">
                        <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                        <span class="success-msg">@vMessage</span>
                    </div>
                }*@

            <div class="panel-body">
                <div class="col-md-6">

                    @using (Html.BeginForm("SearchEmployee", "LeaveRequest", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.EmployeeId, new { @class = "col-lg-3 control-label" })
                            <div class="col-lg-7">
                                @Html.TextBoxFor(m => m.EmployeeId, new { @class = "form-control", @autofocus = true, @placeholder = "Please enter employee id" })
                                @Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="col-lg-1">
                                    <span class="required">*</span>
                                </div>*@
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.CurrentYear, new { @class = "col-lg-3 control-label"  })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.CurrentYear, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.LeaveYear } })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-10">
                                <button class="btn btn-md btn-info" type="submit">
                                    <i class="fa fa-search"></i> Search
                                </button>

                                @*<a href="@Url.Action("SearchEmployee", "LeaveRequest")" class="btn btn-md btn-warning btn-clear">
                                        <i class="fa fa-circle-o-notch"></i> Clear
                                    </a>*@
                            </div>
                        </div>




                    }

                </div>




                @if (Model.EmployeeId != null)
                {
                    <div class="col-md-6">
                        <div class="panel-body">
                            @using (Html.BeginForm("SearchEmployee", "LeaveRequest", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="table-responsive">

                                    @if (Model.EmployeeModel != null)
                                    {
                                        <div class="col-md-8">

                                            @*<div class="form-group">
                                                    @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-7">
                                                        @Html.EditorFor(m => m.EmployeeId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.HiddenFor(c => c.EmployeeId)
                                                    </div>
                                                </div>*@



                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmployeeModel.EmployeeName, htmlAttributes: new { @class = "control-label col-md-5" })
                                                <div class="col-md-7">
                                                    @Html.HiddenFor(m => m.EmployeeId)
                                                    @Html.EditorFor(model => model.EmployeeModel.EmployeeName, new { htmlAttributes = new { @class = "form-control readonly", @readonly = "readonly" } })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmployeeModel.PresentDesignationName, htmlAttributes: new { @class = "control-label col-md-5" })
                                                <div class="col-md-7">
                                                    @Html.EditorFor(model => model.EmployeeModel.PresentDesignationName, new { htmlAttributes = new { @class = "form-control readonly", @readonly = "readonly" } })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmployeeModel.JoiningDate, htmlAttributes: new { @class = "control-label col-md-5" })
                                                <div class="col-md-7">
                                                    @Html.EditorFor(model => model.EmployeeModel.JoiningDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                </div>
                                            </div>



                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TransferDate, htmlAttributes: new { @class = "control-label col-md-5" })
                                                <div class="col-md-7">
                                                    @Html.EditorFor(model => model.TransferDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>









                                        </div>


                                        <div class="col-md-4">

                                            @*<div style="border: 1px solid #ddd; height: 135px; width: 135px;">*@
                                            <div>
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" src="data:image/JPG;base64,@Convert.ToBase64String(Model.EmployeeModel.EmployeeImage)" alt="Profile picture not found" data-src="holder.js/150x150" style="width: 120px; height: 120px;">
                                                </a>
                                            </div>

                                        </div>

                                    }

                                </div>


                                @*<div class="form-group">
                                        <div class="col-lg-offset-1">
                                            <button class="btn btn-md btn-info btn-search" type="submit" style="margin-left: 25%;margin-bottom: 2%;">
                                                <i class="fa fa-search"></i> Search
                                            </button>
                                        </div>
                                    </div>*@

                            }

                        </div>
                    </div>

                }



            </div>

        </div>
    </div>



    /*
        <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-card margin-b-30">
                    <div class="panel-heading panel-heading-custom">
                        <h4 class="panel-title">LEAVE ENTRY</h4>
                    </div>*/


    if (Model.EmployeeId != null)
    {
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-card margin-b-30">


                        @if (!string.IsNullOrWhiteSpace(vMessage))
                    {

                            <div class="row alert alert-success alert-dismissable alert-custom">
                                <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                                <span class="success-msg">@vMessage</span>
                            </div>
                        }

                        <div class="panel-heading panel-heading-custom">
                            <h4 class="panel-title">LEAVE SUMMARY</h4>
                        </div>



                        @*<div class="row alert alert-danger alert-dismissable alert-custom" style="display: none;">
                                <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                                <span class="success-msg"></span>
                            </div>*@

                        <div class="panel-body">


                            <div class="table-responsive">

                                <table class="table table-bordered table-striped table-custom" id="productTable">
                                    <thead>
                                        <tr>
                                            <th>LEAVE TYPE</th>
                                            <th>LEAVE ENTITLED</th>
                                            <th>LEAVE TAKEN</th>
                                            <th>LEAVE REMAIN</th>
                                        </tr>
                                    </thead>
                                    <tbody class="TrimGridContent1" id="trimBody">

                                        @if (LoadEmployeeLeaveSummeryRecordList != null)
                                        {
                                            foreach (var leaveRequestRecord in LoadEmployeeLeaveSummeryRecordList)
                                            {
                                                <tr>
                                                    <td>@leaveRequestRecord.LeaveTypeName</td>
                                                    <td>@leaveRequestRecord.LeaveEntitled</td>
                                                    <td>@leaveRequestRecord.LeaveTaken</td>
                                                    <td>@leaveRequestRecord.LeaveRemain</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    }




    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-card margin-b-30">
                    <div class="panel-heading panel-heading-custom">
                        <h4 class="panel-title">LEAVE ENTRY</h4>
                    </div>
                    @*@if (!string.IsNullOrWhiteSpace(vMessage))
                        {

                            <div class="row alert alert-success alert-dismissable alert-custom">
                                <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                                <span class="success-msg">@vMessage</span>
                            </div>
                        }*@

                    <div class="row alert alert-danger alert-dismissable alert-custom" style="display: none;">
                        <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                        <span class="success-msg"></span>
                    </div>

                    <div class="panel-body">
                        @using (Html.BeginForm("SaveLeaveEntryByHR", "LeaveRequest", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @*@Html.HiddenFor(m => m.RowNumber)*@



                            @*<div class="panel-heading">
                                    <h4 class="panel-title">TRIMS ACCESSORIES ORDER ENTRY</h4>
                                </div>*@


                            <div class="table-responsive">



                                <table class="table table-bordered table-striped table-custom" id="productTable">
                                    <thead>
                                        <tr>
                                            @if (TrimsDataForEdit == null)
                                            {
                                                <th><input type="checkbox" class="allTrimGridCheck"></th>

                                            }

                                            <th>LEAVE TYPE</th>
                                            <th>LEAVE START DATE</th>
                                            <th>LEAVE END DATE</th>
                                            <th>REMARKS</th>
                                            @if (TrimsDataForEdit != null)
                                            {
                                                <th>TOTAL NO OF LEAVE</th>
                                            }

                                        </tr>
                                    </thead>
                                    <tbody class="TrimGridContent" id="trimBody">
                                        @if (TrimsDataForEdit != null)
                                        {


                                            foreach (var trimEdit in TrimsDataForEdit)
                                            {
                                                <tr class="TrimGridFields">
                                                    @*<td style="width: 2%;">
                                                            <input type="checkbox" class="singleTrimGridCheck">
                                                        </td>*@

                                                    @*<td><input type="checkbox" class="singleTrimGridCheck" value="@trimEdit.GridTranId"></td>*@

                                                    @*<td>
                                                            @Html.DropDownListFor(m => m.GridLeaveTypeId, ViewBag.LeaveTypeByDDList as SelectList, new {@class = "form-control custom-select-box", @Value = trimEdit.GridLeaveTypeId})
                                                        </td>*@


                                                    @if (GetAllLeaveRequestRecordList != null)
                                                    {
                                                        @Html.HiddenFor(m => m.EmployeeId)

                                                    }

                                                    <td>
                                                        @Html.DropDownList("GridLeaveTypeId", new SelectList(ViewBag.LeaveTypeByDDList, "Value", "Text", @trimEdit.LeaveTypeId), new { @class = "form-control custom-select-box" })

                                                        @*@Html.HiddenFor(m => m.GridEmployeeId, new { @class = "form-control", @id = "GridEmployeeId", @Value = trimEdit.EmployeeId })*@
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(m => m.GridLeaveStartDate, new { @class = "form-control datepicker", @placeholder = "Leave Start Date", @id = "order_date", @Value = trimEdit.LeaveStartDate })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.GridLeaveEndDate, new { @class = "form-control datepicker", @placeholder = "Leave End Date", @id = "delivery_date", @Value = trimEdit.LeaveEndDate })
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(m => m.GridRemarks, new { @class = "form-control", @placeholder = "Remarks", @Value = trimEdit.Remarks })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.TotalNoOfLeave, new { @class = "form-control", @placeholder = "Remarks", @Value = trimEdit.TotalNoOfLeave, @readonly = "true" })
                                                    </td>

                                                    <td class="hidden">
                                                        @Html.TextBoxFor(m => m.CurrentYear, new { @Value = trimEdit.CurrentYear })
                                                    </td>

                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="TrimGridFields">
                                                <td style="width: 2%;">
                                                    <input type="checkbox" class="singleTrimGridCheck">
                                                </td>

                                                @*<td><input type="checkbox" class="singleTrimGridCheck" value="@trimEdit.GridTranId"></td>*@


                                                @if (GetAllLeaveRequestRecordList != null)
                                                {
                                                    @Html.HiddenFor(m => m.EmployeeId)

                                                }

                                                <td>
                                                    @Html.DropDownListFor(m => m.GridLeaveTypeId, ViewBag.LeaveTypeByDDList as SelectList, new { @class = "form-control custom-select-box" })
                                                    @*@Html.HiddenFor(m => m.GridEmployeeId, new { @class = "form-control", @id = "GridEmployeeId" })*@
                                                </td>


                                                <td>
                                                    @Html.TextBoxFor(m => m.GridLeaveStartDate, new { @class = "form-control datepicker", @placeholder = "Leave Start Date", @id = "order_date", autocomplete = "off" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.GridLeaveEndDate, new { @class = "form-control datepicker", @placeholder = "Leave End Date", @id = "delivery_date", autocomplete = "off" })
                                                </td>

                                                <td>
                                                    @Html.TextBoxFor(m => m.GridRemarks, new { @class = "form-control", @placeholder = "Remarks" })
                                                </td>


                                                @*<td class="hidden">
                                                        @Html.TextBoxFor(m => m.TranId)
                                                    </td>*@
                                            </tr>
                                        }

                                    </tbody>
                                </table>




                            </div>




                            if (TrimsDataForEdit != null)
                            {
                                <div>
                                    @*<button class="btn btn-md btn-danger btn-save deleteTrimGridBtn" type="button">
                                            <i class="fa fa-minus"></i> Delete Row
                                        </button>*@

                                    <button class="btn btn-md btn-primary btn-save" type="submit">
                                        <i class="fa fa-save"></i> Save
                                    </button>

                                    <a href="@Url.Action("ClearLeaveSearchRequestEntry", "LeaveRequest")" class="btn btn-md btn-warning btn-clear">
                                        <i class="fa fa-circle-o-notch"></i> Clear
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <button class="btn btn-md btn-success btn-save addTrimGridBtn" type="button">
                                        <i class="fa fa-plus"></i> Add Row
                                    </button>

                                    <button class="btn btn-md btn-danger btn-save deleteTrimGridBtn" type="button">
                                        <i class="fa fa-minus"></i> Delete Row
                                    </button>

                                    <button class="btn btn-md btn-primary btn-save" type="submit">
                                        <i class="fa fa-save"></i> Save
                                    </button>



                                    <a href="@Url.Action("ClearLeaveSearchRequestEntry", "LeaveRequest")" class="btn btn-md btn-warning btn-clear">
                                        <i class="fa fa-circle-o-notch"></i> Clear
                                    </a>

                                    @*<button class="btn btn-md btn-primary btn-search" type="submit">
                                            <i class="fa fa-search"></i> Search
                                        </button>*@
                                </div>
                            }



                            @*<div>
                                    <button class="btn btn-md btn-success btn-save addTrimGridBtn" type="button">
                                        <i class="fa fa-plus"></i> Add Row
                                    </button>

                                    <button class="btn btn-md btn-danger btn-save deleteTrimGridBtn" type="button">
                                        <i class="fa fa-minus"></i> Delete Row
                                    </button>

                                    <button class="btn btn-md btn-primary btn-save" type="submit">
                                        <i class="fa fa-save"></i> Save
                                    </button>

                                    <a href="@Url.Action("ClearTrimsEntry", "TrimsAccessories")" class="btn btn-md btn-warning btn-clear">
                                        <i class="fa fa-circle-o-notch"></i> Clear
                                    </a>
                                </div>*@
                        }









                    </div>
                </div>
            </div>

        </div>
    </div>





    if (Model.EmployeeId != null)
    {

        if (GetAllLeaveRequestRecordList != null)
        {
            <div class="col-md-12">
                <div class="panel panel-card margin-b-30">
                    <div class="panel-heading panel-heading-custom">
                        <h4 class="panel-title">LEAVE RECORD</h4>
                    </div>

                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-custom">
                                <thead>

                                    <tr>


                                        <th>LEAVE TYPE</th>
                                        <th>LEAVE START DATE</th>
                                        <th>LEAVE END DATE</th>
                                        <th>REMARKS</th>
                                        <th>TOTAL NO OF LEAVE</th>
                                        @*<th>HR STATUS</th>
                                            <th>TL STATUS</th>*@
                                        <th class="text-center" width="11%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var leaveReq in GetAllLeaveRequestRecordList)
                                    {
                                        <tr>
                                            <td>@leaveReq.LeaveTypeName</td>
                                            <td>@leaveReq.LeaveFromDate</td>

                                            <td>@leaveReq.LeaveToDate</td>
                                            <td>@leaveReq.Remarks</td>
                                            <td>@leaveReq.TotalNoOfLeave</td>
                                            @*<td><span class="label label-success">@leaveReq.HR_Status</span></td>
                                                <td><span class="label label-success">@leaveReq.TL_Status</span></td>*@


                                            <td class="text-center">

                                                @using (Html.BeginForm("EditLeaveEntrybyHR", "LeaveRequest", FormMethod.Get, new { @class = "form-horizontal pull-left", role = "form" }))
                                                {
                                                    <input type="hidden" name="pEmployeeId" value="@leaveReq.EmployeeId" />
                                                    <input type="hidden" name="pLeaveTypeId" value="@leaveReq.LeaveTypeId" />
                                                    <input type="hidden" name="pLeaveFromDate" value="@leaveReq.LeaveFromDate" />
                                                    <input type="hidden" name="pLeaveToDate" value="@leaveReq.LeaveToDate" />
                                                    <input type="hidden" name="pRemarks" value="@leaveReq.Remarks" />
                                                    <input type="hidden" name="pLeaveYear" value="@leaveReq.CurrentYear" />
                                                    <button class="btn btn-md btn-success btn-edit" type="submit">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </button>
                                                }
                                                @Html.ActionLink(" Delete", "DeleteEmpLeaveSearchRecord", "LeaveRequest", new { pId = leaveReq.EmployeeId, fromDate = leaveReq.LeaveFromDate, toDate = leaveReq.LeaveToDate }, new { onclick = "return confirm('Are you sure to delete this record?');", @class = "btn btn-md btn-danger fa fa-trash", @style = "padding-top: 9px; padding-bottom: 9px; margin-left: 3px" })


                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }


    }

}
else
{
    <div class="col-md-12">
        <div class="panel panel-card margin-b-30">
            <div class="panel-heading panel-heading-custom">
                <h3 class="panel-title">ADD EMPLOYEE LEAVE</h3>
            </div>

            <div class="panel-body">

                <div class="col-md-6 col-md-offset-6">

                    @using (Html.BeginForm("SearchEmployee", "LeaveRequest", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.EmployeeId, new { @class = "col-lg-3 control-label" })
                            <div class="col-lg-7">
                                @Html.TextBoxFor(m => m.EmployeeId, new { @class = "form-control", @autofocus = true, @placeholder = "Please enter employee id" })
                                @Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-1">
                                <span class="required">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-10">
                                <button class="btn btn-md btn-info" type="submit">
                                    <i class="fa fa-search"></i> Search
                                </button>

                                <a href="@Url.Action("SearchEmployee", "LeaveRequest")" class="btn btn-md btn-warning btn-clear">
                                    <i class="fa fa-circle-o-notch"></i> Clear
                                </a>
                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>
    </div>
}




@section Scripts {
    <script>
        @*$(document).ready(function () {
            $('#EmployeeId').autocomplete({
                source: '@Url.Action("EmployeeIdAutocomplete")'
            });
        });*@

        $(document).ready(function () {
            var btnName = localStorage.getItem("btnName");
            if (btnName) {
                $('.btn-save').html('<i class="fa fa-edit"></i> ' + btnName);
                localStorage.removeItem("btnName");
            }
            $(".btn-edit").click(function () {
                localStorage.setItem("btnName", "Update");
            });
        });

        $('.addTrimGridBtn').click(function () {

            var markUp = $('.TrimGridFields:eq( 0 )').clone();
            $('.TrimGridContent').append(markUp).find(".TrimGridFields:eq( -1 ) input[type='text'], .TrimGridFields:eq( -1 ) input[type='hidden'] , .TrimGridFields:eq( -1 ) select option:contains('Please select one')").val('').prop('selected', true);

            var dateInput1 = $(markUp).find('#order_date');
            var dateInput2 = $(markUp).find('#delivery_date');


            $(dateInput1).removeAttr('id').removeClass('datepicker hasDatepicker').val('');
            $(dateInput2).removeAttr('id').removeClass('datepicker hasDatepicker').val('');

            $(dateInput1).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy'
            });

            $(dateInput2).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy'
            });


            var rowNumber = $('#trimBody tr').length;
            $('#RowNumber').val(rowNumber);
        });





        $(document).on('click', '.deleteTrimGridBtn', function () {

            if (confirm('Are you sure to delete this record?') === true) {


                $('.TrimGridContent input:checkbox:checked').each(function () {

                    if ($('.allTrimGridCheck').is(':checked')) {
                        $(this).parents('.TrimGridContent').find('.TrimGridFields:gt( 0 )').remove();
                        $('input[type="checkbox"]').prop('checked', false);
                    } else {
                        var oldValue = $(this).parents('.TrimGridFields').find('.TrimGridFields:eq( -1 ) input[type="text"]').val();
                        $(this).parents('.TrimGridFields').remove();
                        $(this).parents('.TrimGridContent').find('.TrimGridFields:gt( 0 )').remove();
                    }

                });

                return;

            }


        });


        $(document).on('click', '.allTrimGridCheck', function () {
            if (this.checked) {
                $('.TrimGridContent input:checkbox').prop('checked', true);
            } else {
                $('.TrimGridContent input:checkbox').prop('checked', false);
            }
        });

        $(document).on('click', '.singleTrimGridCheck', function () {
            if ($('.singleTrimGridCheck:checked').length === $('.singleTrimGridCheck').length) {
                $('.allTrimGridCheck:checkbox').prop('checked', true);
            } else {
                $('.allTrimGridCheck:checkbox').prop('checked', false);
            }

        });


       
        $(document).ready(function () {
            $("#order_date").change(function () {

                var StartDate = $(this).val();
                $("#delivery_date").val(StartDate);

            });
        });



    </script>
}
