@using ERP.MODEL
@using ERP.Utility
@model FabricRequisitionModel

@{
    ViewBag.Title = "Fabric Requisition Approval";

    IEnumerable<FabricRequisitionModel> fabricRequisitionList = ViewBag.FabricRequisitionStatusList;
}




<div class="col-md-12">

    <div class="panel panel-card margin-b-30">
        <div class="panel-heading panel-heading-custom">
            <span class="panel-title">FABRIC REQUISITION RECORD</span>
            <a href="@Url.Action("ClearFabricRequisitionApproval", "Fabric")" class="btn btn-md btn-refresh btn-clear pull-right">
                <i class="fa fa-list"></i> Show All Record
            </a>
        </div>

        @if (TempData.ContainsKey("OperationMessage") && !string.IsNullOrWhiteSpace(TempData["OperationMessage"].ToString()))
        {
            <div class="row alert alert-success alert-dismissable alert-custom">
                <button aria-hidden="true" data-dismiss="alert" class="close close-custom" type="button">×</button>
                <span class="success-msg">@TempData["OperationMessage"].ToString()</span>
            </div>
        }

        <div class="panel-body">

            @using (Html.BeginForm("FabricRequisitionApproval", "Fabric", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.TextBoxFor(m => m.SearchBy, new { @id = "SearchBy", @class = "form-control search-by", @placeholder = "Enter fabric code/type/unit/requisition date/require date/category/supplier/width/price/order status & then press enter" })
            }

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-custom">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Requisition Date</th>
                            <th>Require Date</th>
                            <th>Category</th>
                            <th>Supplier</th>
                            <th>Fabric Type</th>
                            <th>Unit</th>
                            <th>Width</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th style="text-align: center;">Approval</th>
                            <th style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (FabricRequisitionModel objFabricRequisitionModel in fabricRequisitionList)
                        {
                            <tr>
                                <td> @objFabricRequisitionModel.FabricRequisitionCode </td>
                                <td> @objFabricRequisitionModel.RequisitionDate </td>
                                <td> @objFabricRequisitionModel.RequireDate </td>
                                <td> @objFabricRequisitionModel.CategoryName </td>
                                <td> @objFabricRequisitionModel.SupplierName </td>
                                <td> @objFabricRequisitionModel.FabricTypeName </td>
                                <td> @objFabricRequisitionModel.FabricUnitName </td>
                                <td> @objFabricRequisitionModel.FabricWidth </td>
                                <td> @objFabricRequisitionModel.RequisitionQuantity </td>
                                <td> @objFabricRequisitionModel.UnitPrice </td>
                                <td style="text-align: center;">
                                    <span class="fa fa-2x ApprovalStatus @objFabricRequisitionModel.ApprovalStatus"></span>
                                </td>

                                <td style="text-align: center;">

                                    @using (Html.BeginForm("FabricRequisitionApproval", "Fabric", FormMethod.Post, new { @class = "form-horizontal pull-left", role = "form", id = "__AjaxAntiForgeryForm" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.HiddenFor(x => x.FabricRequisitionId, new { @Value = objFabricRequisitionModel.FabricRequisitionId })
                                        @Html.HiddenFor(x => x.SearchBy)

                                        <button class="btn btn-md btn-3d btn-info" type="submit" name="ApprovalStatus" value="A" id="aApprovalStatus">
                                            <i class="fa fa-check-circle"></i> Approve
                                        </button>

                                        <button class="btn btn-md btn-3d btn-danger" type="submit" name="ApprovalStatus" value="R" id="rApprovalStatus">
                                            <i class="fa fa-remove"></i> Reject
                                        </button>
                                    }

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

                <span class="showing-info">
                    Showing @fabricRequisitionList.Count() FABRIC REQUISITIONS
                </span>

            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>

        $(document).ready(function () {
            var btnName = localStorage.getItem("btnName");
            if (btnName) {
                $('.btn-save').html('<i class="fa fa-edit"></i> ' + btnName);
                localStorage.removeItem("btnName");
            }
            $(".btn-edit").click(function () {
                localStorage.setItem("btnName", "Update");
            });



            var vForm = $('#__AjaxAntiForgeryForm');
            var vToken = $('input[name="__RequestVerificationToken"]', vForm).val();




        });

    </script>
}